<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Warehouse Returns</title>
        <link rel="stylesheet" href="/stylesheets/style/css">
    </head>

    <body>
        <div class="wrapper">
            <main>
                {{{ body }}}
            </main>
            <footer>
                Project Participants: John Davis, Braxton Hotton, Daniel Jardine
            </footer>
        </div>
    </body>
</html>