<div class="columns is-desktop">
  <div class="select is-multiple column is-one-quarter ml-5">
    <h3 class="is-size-4 has-text-centered">Part Numbers</h3>
    <select
      returns
      id="blue-return-list"
      class="column is-full is-full-mobile"
      multiple
      size="11"
    ></select>
  </div>

  <div class="column is-two-thirds has-background-lightskyblue m-3">
    <h3 class="is-size-4 has-text-centered mb-3">Completed Returns</h3>
    <div class="box columns">
      <section class="column is-full big-box">
        <h3 class="is-size-5 has-text-left">Return Details:</h3>
        <section>
          <div id="current-return-info" class="RGA"></div>
        </section>
      </section>
    </div>
  </div>
</div>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="./js/completed.js"></script>
<script src="./js/logout.js"></script>