<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="wrapper column is-half">
    <main>
      <div>
        <form id="signup-form" class="box">
          <div class="window">
            <div class="field">
              <label id="email-signup" class="label" for="email-signup">Email:</label>
              <div class="control">
                <input class="input" type="text" id="email-signup" />
              </div>
            </div>
            <div class="field">
              <label id="username-signup" class="label" for="username-signup">Username:</label>
              <div class="control">
                <input class="input" type="text" id="username-signup" />
              </div>
            </div>
            <div class="field">
              <label id="password-signup" class="label" for="password-signup">Password:</label>
              <div class="control">
                <input class="input" type="text" id="password-signup" />
              </div>
            </div>
            <div class="btn control">
              <button
                id="submitButton"
                type="submit"
                class="button is-medium is-info"
              >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
  <div class="column is-one-quarter"></div>
  <script src="./js/login.js"></script>
</div>