<section class="hero is-success is-halfheight">
  <div class="hero-body">
    <div class="">
      <p class="title">
        Welcome to Salty Brook
      </p>
      <p class="subtitle">
        Making returns easy, one step at a time
      </p>
    </div>
  </div>
</section>
<script src="./js/logout.js"></script>
