<div class="m-5">
  <h1>Welcome to Warehouse Returns</h1>
  <p>Please choose an option below</p>
</div>
<div>
  <button>Warehouse</button>
  <button>Office</button>
  <button>Completed Returns</button>
</div>