<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="wrapper column is-half">
    <main>
      <div>
        <form id="signup-form" class="box">
          <div class="window">
            <div class="field">
              <label class="label" for="username-login">Username:</label>
              <div class="control">
                <input class="input" type="text" id="email-login" />
              </div>
            </div>
            <div class="field">
              <label class="label" for="password-login">Password:</label>
              <div class="control">
                <input class="input" type="text" id="password-login" />
              </div>
            </div>
            <div class="btn control">
              <button id="submitButton" type="submit" class="button is-medium is-info">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
  <div class="column is-one-quarter"></div>
</div>
<script src="./js/login.js"></script>