<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="wrapper column is-half">
    <main>
      <div>
        <form id="login-form" class="box">
          <div class="window">
            <div class="field">
              <label class="label has-text-dark" for="username-login">Username:</label>
              <div class="control">
                <input class="input" type="text" id="username-login" placeholder="Username"/>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-dark" for="password-login">Password:</label>
              <div class="control">
                <input class="input" type="password" id="password-login" placeholder="Password"/>
              </div>
            </div>
            <div class="btn control mb-2">
              <button id="submitButton" type="submit" class="button is-medium is-info">Submit</button>
            </div>
            <a class="has-text-dark" href="signup">Create Account</a>
          </div>
        </form>
      </div>
    </main>
  </div>
  <div class="column is-one-quarter"></div>
</div>
<script src="./js/login.js"></script>