<div class="columns is-desktop">
  <div class="select is-multiple column is-one-quarter ml-5">
    <h3 class="is-size-4 has-text-centered">Part Numbers</h3>
    <select
      returns
      id="teal-return-list"
      class="column is-full is-full-mobile"
      multiple
      size="5"
    ></select>
    <select
      returns
      id="red-return-list"
      class="column is-full is-full-mobile"
      multiple
      size="5"
    ></select>
  </div>

  <!-- This column is split into two columns and will display the information of each part clicked -->
  <div class="column is-two-thirds has-background-lightskyblue m-3">
    <h3 class="is-size-4 has-text-centered mb-3">Office Manager Action Items</h3>
    <div class="box columns">
      <section class="column is-half big-box">
        <h3 class="is-size-6 has-text-left">Return Details:</h3>
        <section>
          <div id="current-return-info" class="RGA"></div>
        </section>
      </section>
      <section id="update-form" class="column is-half big-box">

        <div id="teal-div" class="control">
          <h2 class="is-size-5 has-text-left">
            <span class="checkbox-wrapper">
              <input id="credit-input" name="credit-input" type="radio" />
            </span>
            Customer Credited
          </h2>
          <h2 class="is-size-5 has-text-left">Choose Warehouse Action</h2>
          <div class="select">
            <select id="action-input" class="is-full is-full-mobile"></select>
          </div>
        </div>
        <div id="red-div" class="control">
          <h2 class="is-size-5 has-text-left">
            <span class="checkbox-wrapper">
              <input id="stock-input" name="stock-input" type="radio" />
            </span>
            Stock Corrected
          </h2>
        </div>

        <div class="spacing">
          <h2 class="is-size-6 has-text-left">Add Notes:</h2>
          <textarea
            id="notes_add"
            name="notes_add"
            class="textarea is-success"
            placeholder="Notes:"
            rows="1"
          ></textarea>
        </div>
        <button id="submitButton" type="submit" class="button is-medium is-info is-fullwidth">Update Part</button>
      </section>
    </div>
  </div>
</div>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="./js/office.js"></script>
<script src="./js/logout.js"></script>