.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.main-title {
    border-bottom: 10px solid gold;
    color: seagreen;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
    background-color: lightblue;
    margin-bottom: 50px;
    font-size: xx-large;
    font-family: bold;
}

.window {
    padding: 30px;
    background-color: lightskyblue;
    color: rgb(22, 107, 59);
    border: 10px solid gold;
    text-align: center;
    margin-bottom: 100;
    
}

.wrapper {
    margin-bottom: 100px;
    margin-top: 100px;
}

button {
    background-color: seagreen;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    color: lightblue;
    
}
.buttons {
    text-align: center;
    
   
}

.btn {
    margin-top: 10px;    
    
}

.spacing {
    margin-top: 4%;
    margin-bottom: 4%;
}

button:hover {
    background-color: orange;
    color: seagreen;
}

.column {
    margin: 5px;
}

.columns {
    padding-right: 3%;
}

h2 {
    text-align: center;
    color: seagreen;
}

h3 {
    color: seagreen;
}

.select-dropdown {
    display: block;
    font-size: 1rem;
    height: 2.5rem;
    font-weight: lighter;
    
    border-color: #dbdbdb;
    border-radius: 4px;
    
}

.option-text {
    color: #363636;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

}


.big-box {
    background-color: lightskyblue;
}


.box {
    border: 3px solid gold;
}

.sizing {
    width: 100%;
    height: 27%;
}
<<<<<<< HEAD

footer {
    margin-top: 30px;
}
=======
>>>>>>> 24cd482a30763ef729a375a24c5848e13c5cedc9
